@media (min-width:981) and (max-width : 1200px) {
    .image1{
        width:1100px,
    }
}
@media  (min-width:821px) and (max-width: 980px) {
    .image1{
width: 800px;
    }
}
@media  (min-width:520px) and (max-width: 820px) {
    .image1{
width: 500px;
    }
}
@media (min-width:420px) and (max-width: 519px) {
    .image1{
width: 400px;
    }
}
@media screen and (width < 420px) {
    .image1{
width: 300px;
    }
}
.image1{
    height: 400px;
}
/* style={{width:1200,height:400,display:"flex",align:"center"}} */